# APP
NODE_ENV=development
PORT=8000
CORS_ORIGINS=http://localhost:5173,http://localhost:XXXX # domain1,domain2
DOMAIN=censored-link.com
CLIENT_URL=https://censored-link.com
API_URL=https://censored-link.com/api
CSRF_SECRET=secret

# POSTGRES
POSTGRES_URL=postgresql://postgres:postgres@localhost:5432/api

# JWT
JWT_ACCESS_SECRET=secret_at
JWT_REFRESH_SECRET=secret_rt
JWT_ISSUER="Example.Api"
JWT_AUDIENCE="Example.Resource"

# SENDGRID
SENDGRID_API_KEY="API if email validation"
SENDGRID_FROM_MAIL=no-reply@censored-link.com

# RSA
PUBLIC_KEY_RSA_PATH=public-key.pem
PRIVATE_KEY_RSA_PATH=private-key.pem

# BOT_TOKEN
BOT_TOKEN=12345678:XXXXXXXXXXXXXX
WEB_APP_LINK=https://censored-link.com
BOT_LINK=https://t.me/example_bot

# MULTER
MULTER_DEST=root/prject_name/static

# MESIBO
MESIBO_URL=https://api.mesibo.com/backend/
MESIBO_TOKEN=XXXXXXXX
MESIBO_BACKEND_SECRET=XXXXXXXXXXX
APP_ID=com.example.app

# Mesibo v2 Token Configuration
ANDROID_PACKAGE=com.yourapp.package  # Your Android package name from AndroidManifest.xml
IOS_BUNDLE=com.yourapp.bundle        # Your iOS Bundle ID from Xcode project

# MAPBOX
MAPBOX_TOKEN=XXX
MAPBOX_USERNAME=XXX

OPENAI_API_KEY=xxx
PINECONE_API_KEY=xxx
PINECONE_INDEX_NAME=example-index